.hero{

    background-image: url('../public/assets/bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 400%;
    height: auto;
    
}
body{
    background-color: #0b132b !important;
    
    
    
}
.link{
    background-color: #001554 !important;
    border-color: aqua !important;
}
#tab{

    background-image: url('../public/assets/10020.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0e1630 !important;

}
.card22{
    background-color: #1a2c49 !important;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY.styles_no-tabfocus__1HmyD {
    background-color: #1f2947;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-content__QOGZd .styles_row-content-text__2sgAB{
    background-color: #1f2947;
    color: white;
}
.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
    background-color: #1f2947;
    color:white !important;
}
.styles_faq-row-wrapper__3vA1D h2{
    color: white !important;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY {
    color: white !important;
    
    
}

.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c {
    // margin-bottom: 30px !important;

}


